<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">Abount</a></li>
            <li><a href="/Profile">My Profile</a></li>
            <li><a href="/weather">weather</a></li>
        </ul>
    </nav>
    <h1>{{title}}</h1>
</header>